<div>
    <div class="container container-full-height">
        <div class="text-center" style="height: 25vh;">
            <img class="img-fluid h-100" src="/assets/images/undraw_medicine_b1ol.png" alt="">
            
        </div>
        <div>
            <div class="text-center m-2">
                <h3>Welcome!</h3>
                <br>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div appCursorStyle class="card shadow-5 mt-2  grow" (click)="onClickAddPatient()">
                    <div class="card-body">
                        <h5 class="card-title text-center">Add a Patient</h5>
                        <div class="text-center" style="height: 30vh;">
                          <img class="img-fluid h-100" src="/assets/images/undraw_doctors_hwty.png" alt="">
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div appCursorStyle class="card shadow-5 mt-2  grow" (click)="onClickAdministerVaccinations()">
                    <div class="card-body">
                      <h5 class="card-title text-center">Administer Vaccinations</h5>
                      <div class="text-center" style="height: 30vh;">
                        <img class="img-fluid h-100" src="/assets/images/undraw_Add_user_re_5oib.png" alt="">
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
 
<div class="modal slideDown" [ngStyle]="{
    'display': (isModalShow) ? 'block': 'none' ,
    'background-color' : 'rgba(0,0,0,0.4)'
    }"
    tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="">
            <div class="alert alert-primary modal-header" style="margin: 0;" role="alert">
                {{modalMsg}}
                <button type="button" (click)="onCloseModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
        </div>
      </div>
    </div>
  </div>
