.app-card{
    width: 20rem;
    margin: 1em;
    transition: width 1s,height 1s ;
    box-shadow: 2px 1px 4px 0px;
}
.app-card:hover{
    opacity: 0.7;
    width: 21rem;
}
.note-icon{
    height: 1em;
    width: 1em;
}
.note-icon-layout{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 90%;
}