
<div class="background-container container d-flex justify-content-center align-items-center">
    <div>
        <div class="shadow-3 border bg-white rounded p-4 mt-4 mb-5 form-width">
            <div>
                <div class="text-center">
                    <h4>Add Patient</h4>
                </div>
            </div>
            <hr/>
            <div class="text-center mb-4 mt-3" style="height: 240px;">
                <img [src] = "profile" width="240px" height="240px" loading="eager" class="img-thumbnail border-100 " alt="profile picture">
                <div id="emailHelp" class="form-text mb-4">Profile is based on First and Last Name.</div>
            </div>
            
            <form class="mt-3 pl-2 pr-2 row g-1" >
                <div class="col-md-5 mb-2">
                    <label for="inputFname" class="form-label font-weight-bold">First Name<span style="color: red;">*</span></label>
                    <input 
                        type="text" 
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (firstName.hasError('required') && firstName.touched ),
                            'is-valid' : firstName.valid  
                            }"
                        [formControl]="firstName"
                        (change)="onUpdateProfile($event,'firstName')"
                        >
                    <div [hidden]="!(firstName.hasError('required')) || firstName.untouched" class=" mt-2 alert alert-danger">
                        Please provide First Name.
                    </div>
                    <div [hidden]="!(firstName.hasError('containDigit'))" class=" mt-2 alert alert-danger">
                        First Name should not contain digits or symbols.
                    </div>
                </div>
    
                <div class="col-md-4 mb-2">
                    <label for="inputLname" class="form-label font-weight-bold">Last Name<span style="color: red;">*</span></label>
                    <input 
                        type="text" 
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (lastName.hasError('required') && lastName.touched ),
                            'is-valid' : lastName.valid  
                            }"
                        [formControl]="lastName"
                        (change)="onUpdateProfile($event,'lastName')" 
                        >
                    <div [hidden]="!(lastName.hasError('required')) || lastName.untouched" class=" mt-2 alert alert-danger">
                        Please provide Last Name.
                    </div>
                    <div [hidden]="!(lastName.hasError('containDigit'))" class=" mt-2 alert alert-danger">
                        Last Name should not contain digits or symbols.
                    </div>
                </div>

                <div class="col-md-3 mb-2">
                    <label for="inputFname" class="form-label font-weight-bold">Gender</label>
                    <select 
                    class="form-control form-select" 
                    [ngClass]="{ 
                        'is-invalid' : (gender.hasError('required') && gender.touched )
                        }"
                    [formControl]="gender"
                    >
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <div [hidden]="!(gender.hasError('required')) || gender.untouched" class=" mt-2 alert alert-danger">
                        Please provide Gender.
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label for="inputLname" class="form-label font-weight-bold">Date of Birth<span style="color: red;">*</span></label>
                    <input 
                        type="date" 
                        [max] = "maxDate"
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (!dob.valid && dob.touched ),
                            'is-valid' : dob.valid  
                            }"
                        [formControl]="dob" >
                    <div [hidden]="!(dob.hasError('required')) || dob.untouched" class=" mt-2 alert alert-danger">
                        Please provide DoB.
                    </div>
                    <div [hidden]="!(dob.hasError('futureDate'))" class=" mt-2 alert alert-danger">
                        DoB cannot be future date.
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label for="inputLname" class="form-label font-weight-bold">Place of Birth</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (placeOfBirth.hasError('required') && placeOfBirth.touched ) 
                            }"
                        [formControl]="placeOfBirth" >
                    <div [hidden]="!(placeOfBirth.hasError('required')) || placeOfBirth.untouched" class=" mt-2 alert alert-danger">
                        Please provide Place of Birth.
                    </div>
                    <div [hidden]="!(placeOfBirth.hasError('containDigit'))" class=" mt-2 alert alert-danger">
                        Place of Birth should not contain digits or symbols.
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <label for="inputFname" class="form-label font-weight-bold">Blood Group</label>
                    <select 
                    class="form-control form-select" 
                    [ngClass]="{ 
                        'is-invalid' : (bloodGroup.hasError('required') && bloodGroup.touched ) 
                        }"
                    [formControl]="bloodGroup"
                    >
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB">AB</option>
                    </select>
                    <div [hidden]="!(bloodGroup.hasError('required')) || bloodGroup.untouched" class=" mt-2 alert alert-danger">
                        Please provide Blood Group.
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <label for="inputLname" class="form-label font-weight-bold">Height</label>
                    <div class="input-group mb-3">
                    <input 
                        type="number" 
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (height.hasError('min') && height.touched ) 
                            }"
                        [formControl]="height"
                         >
                        <span class="input-group-text">cm</span>
                    </div>
                    <div [hidden]="!(height.hasError('min'))" class=" mt-2 alert alert-danger">
                        Please provide positive Height.
                    </div>
                </div>

                <div class="col-md-4 mb-2">
                    <label for="inputLname" class="form-label font-weight-bold">Weight</label>
                    <div class="input-group mb-3">
                    <input 
                        type="number" 
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (weight.hasError('min') && weight.touched ) 
                            }"
                        [formControl]="weight"
                        >
                        <span class="input-group-text">kg</span>
                    </div>
                    <div [hidden]="!(weight.hasError('min'))" class=" mt-2 alert alert-danger">
                        Please provide Weight.
                    </div>
                </div>

                <div class="col-12 mb-2">
                  <label for="inputAddress" class="form-label font-weight-bold">Address</label>
                  <input 
                        type="text" 
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (address.hasError('required') && address.touched )
                            }"
                        [formControl]="address" >
                    <div [hidden]="!(address.hasError('required')) || address.untouched" class=" mt-2 alert alert-danger">
                    Please provide Address.
                    </div>
                </div>
    
                <div class="col-md-6 mb-2">
                    <label for="inputState" class="form-label font-weight-bold">State</label>
                    <select 
                        class="form-control form-select" 
                        [ngClass]="{ 
                            'is-invalid' : (state.hasError('required') && state.touched )
                            }"
                        [formControl]="state" >
                        <option *ngFor="let st of stateList" [value]="st">{{st}}</option>
                        </select>
                    <div [hidden]="!(state.hasError('required')) || state.untouched" class=" mt-2 alert alert-danger">
                        Please provide State.
                    </div>
                </div>
    
                <div class="col-md-6 mb-2">
                  <label for="inputZip" class="form-label font-weight-bold">Postal Code</label>
                  <input 
                        type="tel"
                        pattern="[0-9]{6}"
                        class="form-control" 
                        maxlength="6"
                        [ngClass]="{ 
                            'is-invalid' : (postalCode.hasError('required') && postalCode.touched )
                            }"
                        [formControl]="postalCode" >
                    <div [hidden]="!(postalCode.hasError('notSixDigits') && (postalCode.touched) )  || postalCode.untouched" class=" mt-2 alert alert-danger">
                        Please provide 6 digit valid Postal Code.
                    </div>
                    <div [hidden]="!(postalCode.hasError('notDigit'))" class=" mt-2 alert alert-danger">
                        Please provide only digits.
                    </div>
                </div>
    
                <div class="col-md-6 mb-2">
                    <label for="inputPhone" class="form-label font-weight-bold">Phone</label>
                    <input 
                        type="tel"
                        maxlength="10"
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (phone.hasError('required') && phone.touched )
                            }"
                        [formControl]="phone" >
                    <div [hidden]="!(phone.hasError('required')) || phone.untouched" class=" mt-2 alert alert-danger">
                        Please provide Phone Number.
                    </div>
                    <div [hidden]="!(phone.hasError('notTenDigits') && !(phone.hasError('required')))  || phone.untouched" class=" mt-2 alert alert-danger">
                        Please provide 10 digit valid Phone Number.
                    </div>
                    <div [hidden]="!(phone.hasError('notDigit') && !(phone.hasError('required')))" class=" mt-2 alert alert-danger">
                        Please provide only digits.
                    </div>
                </div>   
    
                <div class="col-md-6 mb-2">
                    <label for="inputEmail4" class="form-label font-weight-bold">Email</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        [ngClass]="{ 
                            'is-invalid' : (email.hasError('required') && email.touched )
                            }"
                        [formControl]="email" >
                    <div [hidden]="!(email.hasError('required')) || email.untouched" class=" mt-2 alert alert-danger">
                        Please provide Email address.
                    </div>
                    <div [hidden]="!(email.hasError('email') && !email.hasError('required'))  || email.untouched" class=" mt-2 alert alert-danger">
                        Please provide valid Email.
                    </div>
                </div>
                <div [hidden]="!isError" class=" mt-2 alert alert-danger">
                    {{errorMessage}}
                </div>                
    
                <div class="col-12 mb-2 text-center">
                  <button  type="button" (click)="onSave()" class=" mt-4 btn btn-primary me-1">Save</button>
                  <button type="button"  (click)="onCancel()" class="ms-1 mt-4 btn btn-secondary">Cancel</button>
                </div>
              </form>
          </div>
        </div>
        </div>

        <div id="cover-spin" [hidden]="!isLoading"></div>

        <div id="cover-spin" [hidden]="!patientService.isLoadingData"></div>
